[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = jesse-gonzalez
	email = jesse.gonzalez@nutanix.com
[alias]
	st = status -u all
	ci = commit
	lg = log --graph --notes --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset - %Cblue%N%Creset'
	co = checkout
    standup = !git-standup
    export = "!f() { git archive --format zip --output $1 $2; }; f"
    ulg = !(git fetch && git lg ..@{u})
    llg = !(git lg @{u}..)
    ignored = clean -ndX
    ready = rebase -i @{u}
    last= !(git lg -10)
	test = "!gi() { curl http://www.gitignore.io/api/$@ ;}; gi"
[core]
	{{- if eq .chezmoi.os "linux" }}
	autocrlf = input ; 
	{{- else }}
	autocrlf = true ;on Windows
	safecrlf = true ; on Windows
	{{- end }}
[alias]
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[diff]
        mnemonicPrefix = true
        wordRegex = .
[fetch]
        recurseSubmodules = on-demand
[grep]
        extendedRegexp = true
[log]
        abbrevCommit = true
[merge]
        conflictStyle = diff3
	tool = meld
[mergetool]
        keepBackup = false
        keepTemporaries = false
        prompt = false
[pull]
        rebase = true
[rebase]
	autoStash = true
[push]
        default = upstream
[status]
        submoduleSummary = true
[credential]
	helper = cache --timeout=3600
[help]
	autocorrect = 1
[rerere]
	enabled = true
[http]
	sslVerify = true
[init]
	defaultBranch = main
